[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
woocommerce = "*"
requests = "*"
slack-bot = "*"
razorpay = "*"
flask-sqlalchemy = "*"
sshtunnel = "*"
flask-datepicker = "*"
uuid = "*"
slack = "*"
pytz = "*"

[requires]
python_version = "3.8"
