{% extends "layout.html" %} {% block content %}
<style>
  .header{
    position: sticky;
    top: 0;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="{{url_for('customers')}}">
      Customers
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('woocom_orders')}}">
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('vendor_orders')}}">
            Vendor-Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('subscriptions')}}">
            Subscriptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('products')}}">
            Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">
            <i class="mdi mdi-logout" aria-hidden="true"></i>
            Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="pt-3 mr-5 ml-5 d-flex justify-content-center">
  <table style="width: 60%;" class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Name: </th>
        <td>{{customer.first_name}} {{customer.last_name}}</td>
      </tr>
      <tr>
        <th scope="row">Mobile</th>
        <td>{{customer.billing.phone}}</td>
      </tr>
      <tr>
        <th scope="row">Balance</th>
        <td>{% if transactions | length >0 %}
          {{(transactions | first).balance}}
          {%else%}
          0
          {%endif%}
        </td>
      </tr>

    </tbody>
  </table>
</div>
<div class="shadow  ml-5 mr-5 pt-1 pb-3">
  <div class="mt-3 d-flex">
    <div>
      <h4 class="font-weight-bold ml-3 ">Unpaid Orders</h4>
    </div>
    <div style="margin-right: 30px;" class="ml-auto mb-2">
      <select id="select_inps" data-live-search="true" data-actions-box="true" multiple required title="Order ID" name="order_ids" class="selectpicker mr-2 input">
        {% for o in unpaid_orders %}
        <option value="{{o.id}}">{{o.id}} - {{ o.billing.first_name}} -
          {{o.vendor}}
        </option>
        {% endfor%}
      </select>
      <button data-toggle="tooltip" onclick="copyOrderDetail()" type="button" title="Copy Order Details"
      class="btn btn-info ml-2"><i class="mdi mdi-18px mdi-content-copy" aria-hidden="true"></i></button>
      <button data-toggle="tooltip" onclick="copyOrderDetailMini()" type="button" title="Copy Mini Order Detail"
      class="btn btn-info ml-2"><i class="mdi mdi-18px mdi-content-copy" aria-hidden="true"></i></button>
      <button data-toggle="tooltip" onclick="genMultipleLinks()" type="button" title="Gen Payment Links"
      class="btn btn-info ml-2"><i class="mdi mdi-18px mdi-link" aria-hidden="true"></i></button>
      <button onclick="changeOrderStatus('paid')" type="button"
      class="btn btn-info ml-2">Mark as Paid</button>
      <button onclick="payByWallet()" type="button"
      class="btn btn-info ml-2">Pay By Wallet</button>
      <button onclick="payByCash()" type="button"
      class="btn btn-info ml-2">Pay By Cash</button>
    </div>
  </div>
  <div class=" pr-2 pl-2"  style="overflow-y: scroll; max-height: 600px;" >

  <table class="table">
    <thread style="position: sticky; max-height: 600px;">
      <tr class="bg-info text-white header">
        <th></th>
        <th>Order ID</th>
        <th>Status</th>
        <th>Order Date</th>
        <th>Delivery Date</th>
        <th>Vendor</th>
        <th>Payment Type</th>
        <th>Amount</th>
        <th>Amount Payble</th>
        <th>Payment Link</th>
      </tr>
    </thread>
    <tbody>
      {%for o in unpaid_orders%}
      <tr>
          <td class="{{o.id}}" scope="row">
            <div style="min-width: 216px;">
              <a data-toggle="tooltip" target='blank' href="{{admin_url}}{{o.id}}&action=edit"><i
                  title="Edit Order" class="mdi mdi-18px mdi-pencil-outline btn-sm btn btn-warning"
                  style="cursor: pointer;" aria-hidden="true"></i></a>
              <i data-toggle="tooltip" title="Supplier Message" onclick="copyToClipboard('s_msg_{{o.id}}')"
                class="mdi mdi-18px mdi-content-copy btn-sm btn btn-warning" style="cursor: pointer;"
                aria-hidden="true"></i>
              <i data-toggle="tooltip" title="Order Detail Message" onclick="copyToClipboard('c_msg_{{o.id}}')"
                class="mdi mdi-18px mdi-content-copy btn-sm btn btn-warning" style="cursor: pointer;"
                aria-hidden="true"></i>
              <button data-toggle="tooltip" class="btn btn-warning btn-sm"
                onclick="CheckOutRequest('{{url_for('gen_payment_link', order_id=o.id)}}')">
                <i title="Generate Payment Link" class="mdi mdi-18px mdi-link"></i>
              </button>
  
        </td>
        <td>{{o.id}}</td>
        <td>{{o.status}}</td>
        <td>{{o.date_created}}</td>
        <td>{{o.delivery_date}}</td>
        <td>{{o.vendor}}</td>
        <td>{{o.payment_method_title}}</td>
        {%if o.shipping_total |float > 0%}
        <td>{{(o.total - o.shipping_total|float) | round(2)}} + {{o.shipping_total}}</td>
        {%else%}
        <td>{{o.total| round(2)}}</td>
        {%endif%}
        <td>{{ (o.total-o.total_refunds-o.wallet_payment)|round(2)}}</td>
        <td>
          {% if payment_links[o.id] != ''%}
          {% if payment_links[o.id].status == "success"%}
          <span id='payment-{{o.id}}' class="text-success" style="cursor: pointer;"
            onclick="copyText('{{payment_links[o.id].payment_link_url}}')">{{payment_links[o.id].receipt}} |
            {{payment_links[o.id].amount/100}}</span>
          {%else%}
          <span id='payment-{{o.id}}' style="cursor: pointer;" class="text-danger">{{payment_links[o.id].receipt}} |
            {{payment_links[o.id].amount/100}}</span>
          {% endif%}
          {%else%}
          <span id='payment-{{o.id}}' class="text-success" style="cursor: pointer;" onclick=""></span>
          {% endif%}
        </td>
      </tr>
      {%endfor%}

    </tbody>
  </table>
  </div>
</div>
</div>
<br/>
<div class="shadow  ml-5 mr-5 pt-3 pb-3">
  <div style="justify-content: center;" class="text-center d-flex pb-2">
    <div class="ml-3 mr-3 mt-1">
      <h4 class="font-weight-bold">Wallet Transactions</h4>
    </div>
    <button onclick="MoneyToWallet('{{customer.id}}', 'credit', 'reload')" data-toggle="tooltip" title="Add Money" class="btn btn-success btn-sm mr-3 font-weight-bold"><i style="font-size: 20px;" class="font-weight-bold mdi mdi-plus mr-1"></i></button>
    <button onclick="MoneyToWallet('{{customer.id}}', 'debit', 'reload')" data-toggle="tooltip" title="Reduce Money" class="btn btn-success btn-sm mr-3 font-weight-bold"><i style="font-size: 20px;" class="font-weight-bold mdi mdi-minus mr-1"></i></button>
    <button onclick="genPaymentLinkWallet('{{customer.id}}')" data-toggle="tooltip" title="Generate Payment Link" class="btn btn-success btn-sm font-weight-bold"><i class="mdi mdi-18px mdi-link-plus mr-1"></i></button>
  </div>
  <div class=" pr-2 pl-2" style="overflow-y: scroll; max-height: 600px;" >
  <table class="table">
    <thread>
      <tr class="bg-info text-white header">
        <th>Type</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Details</th>
      </tr>
    </thread>
    <tbody>
      {%for t in transactions%}
      <tr>
        <td>{{t.type}}</td>
        <td>₹ {{t.amount}}</td>
        <td>{{t.date}}</td>
        <td>{{t.details}}</td>
      </tr>
      {%endfor%}

    </tbody>
  </table>
  </div>
</div>
<br>
{%endblock%}