{% extends "layout.html" %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">Orders</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('woocom_orders')}}">Woocom Orders</a>
          </li>
        </ul>
    </div>
</div>
</nav>
<div class="ml-3 mr-3 mt-3 pt-3">
  <table class="table">
    <thead>
      <tr class="bg-info text-white">
        <th scope="col">ID</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Modified</th>
        <th scope="col">Total</th>
        <th scope="col">Customer Name</th>
        <th scope="col">City</th>
        <th scope="col">Phone Nubmer</th>
        <th scope="col">Address_1</th>
        <th scope="col">Address_2</th>
        <th scope="col">Payment_Method</th>
        <th scope="col">Date Paid</th>
        <th scope="col">Whatsapp Message</th>
      </tr>
    </thead>
    <tbody>
      {% for o in orders.items %}
      <tr>
        <td scope="row">{{ o.id}}</td>
        <td scope="row">{{ o.date_created}}</td>
        <td scope="row">{{ o.date_modified}}</td>
        <td scope="row">{{ o.total}}</td>
        <td scope="row">{{ o.firstname}} {{ o.lastname}}</td>
        <td scope="row">{{ o.city}}</td>
        <td scope="row">{{ o.phone_number}}</td>
        <td scope="row">{{ o.address}}</td>
        <td scope="row">{{ o.address2}}</td>
        <td scope="row">{{ o.payment_method}}</td>
        <td scope="row">{{ o.date_paid}}</td>
        <td scope="row"><textarea style="width: 300px;height: 100px;border: none;">{{o.whatsapp_message}}</textarea></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% for page_num in orders.iter_pages(left_edge=1, right_edge=1,
      left_current=1, right_current=2) %} {% if page_num %} {% if orders.page ==
      page_num %}
      <li class="page-item active">
        <a class="page-link" href="#"
          >{{page_num}} <span class="sr-only">(current)</span></a
        >
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="{{url_for('orders', page=page_num)}}"
          >{{page_num}}</a
        >
      </li>
      {% endif %} {% else %}
      <li class="page-item"><span class="page_link ml-2 mr-2"></span></li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
</div>
{% endblock %}
