{% extends "layout.html" %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">Orders</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Logout</a>
          </li>
        </ul>
    </div>
</div>
</nav>
<ul class="nav nav-tabs mt-2 ml-1">
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'failed' %} active {%endif%}" href="{{url_for('woocom_orders', status='failed')}}">Failed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'processing' %} active {%endif%}" href="{{url_for('woocom_orders', status='processing')}}">Processing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'tbd-paid, tbd-unpaid' %} active {%endif%}" href="{{url_for('woocom_orders', status='tbd-paid, tbd-unpaid')}}">To Be Delivered</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'delivered-unpaid' %} active {%endif%}" href="{{url_for('woocom_orders', status='delivered-unpaid')}}">Delivered Unpaid</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'completed' %} active {%endif%}" href="{{url_for('woocom_orders', status='completed')}}">Delivered Paid</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'refunded' %} active {%endif%}" href="{{url_for('woocom_orders', status='refunded')}}">Refunded</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'cancelled' %} active {%endif%}" href="{{url_for('woocom_orders', status='cancelled')}}">Cancelled</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'any' %} active {%endif%}" href="{{url_for('woocom_orders')}}">To be Processing</a>
  </li>
</ul>
<div  class="mt-3 ml-3 mr-3">
    <form autocomplete="off" class = "form-inline" role = "form">
      <select data-live-search="true" multiple title="Order ID" name="order_ids" class="selectpicker mr-2">
        {% for o in orders %}
        <option {% if "order_ids" in query %} {% if o.id in query["order_ids"] %} selected {% endif %} {% endif %}>{{o.id}}</option>
        {% endfor%}
      </select>
      <select title="Payment Status" name="payment_status" class="selectpicker mr-2">
        <option value="">Payment Status</option>
        <option {% if "payment_status" in query %} {% if query.payment_status[0] == "paid" %} selected {% endif %} {% endif %} value="paid">Paid</option>
        <option {% if "payment_status" in query %} {% if query.payment_status[0] == "unpaid" %} selected {% endif %} {% endif %} value="unpaid">Unpaid</option>
      </select>
      <input class="form-control mr-2" type="phone" placeholder="Phone Number" {% if "phone_number" in query %} {% if query["phone_number"][0] != "" %} value="{{query["phone_number"][0]}}" {% endif %} {% endif %} name="phone_number">
      <input class="form-control mr-2" type="name" placeholder="Name" {% if "name" in query %} {% if query["name"][0] != "" %} value="{{query["name"][0]}}" {% endif %} {% endif %} name="name">
      <select data-live-search="true" multiple title="Vendor" name="vendor" class="selectpicker mr-2">
        {% for v in vendors %}
        {% if v != ""%}
          <option {% if "vendor" in query %} {% if v in query["vendor"] %} selected {% endif %} {% endif %}>{{v}}</option>
        {%endif%}
        {% endfor%}
      </select>      <select data-live-search="true" multiple title="Manager" name="manager" class="selectpicker mr-2">
        {% for m in managers %}
        {% if m != ""%}
          <option {% if "manager" in query %} {% if m in query["manager"] %} selected {% endif %} {% endif %}>{{m}}</option>
        {%endif%}
        {% endfor%}
      </select>
      <button class="btn btn-info"><i class="fa fa-filter" aria-hidden="true"></i>
      </button>
    </form>
    <form autocomplete="off" action="{{url_for('download_csv')}}", method="POST" class = "form-inline mt-2" role = "form">
      {% if nav_active != '' %}
        <input style="display: none;" name="status" value="{{nav_active}}">
      {% endif %}
      <select data-live-search="true" multiple required title="Order ID" name="order_ids" class="selectpicker mr-2">
        {% for o in orders %}
        <option value="{{o.id}}">{{o.id}} - {{ o.billing.first_name}} - 
          {% for item in o.meta_data%}
          {% if item.key == "wos_vendor_data"%}
              {{item.value.vendor_name[:4]}}
          {% endif%}
        {% endfor %}
        </option>
        {% endfor%}
      </select>
      <button class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i>
      </form>
</div>
<div style="overflow-x: auto;" class="ml-1 mr-1 pt-3">
  <table class="table">
    <thead>
      <tr class="bg-info text-white">
        <th scope="col"></th>
        <th scope="col">Order ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">City</th>
        <th scope="col">Status</th>
        <th scope="col">Payment Status</th>
        <th scope="col">Payment Type</th>
        <th scope="col">Order Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Refund</th>
        <th scope="col">Amount Payble</th>
        <th scope="col">Whatsapp Messages</th>
        <th scope="col">Vendor</th>
        <th scope="col">Manager</th>
      </tr>
    </thead>
    <tbody>
      {% for o in orders %}
      <tr>
        <td class="{{o.id}}"scope="row">
          <div style="min-width: 92px;">
            <i title="Supplier Message" onclick="copyToClipboard('s_msg_{{o.id}}')" class="fa fa-clipboard btn-sm btn btn-warning"style="cursor: pointer;" aria-hidden="true"></i>
            <i title="Order Detail Message" onclick="copyToClipboard('c_msg_{{o.id}}')" class="fa fa-clipboard btn-sm btn btn-warning ml-1"style="cursor: pointer;" aria-hidden="true"></i>
          </div>
          <div class="mt-1">
          {% if nav_active == "processing"%}
          {% if o.manager and o.vendor_type %}
          <div style="min-width: 120px;">
              <a href="
                {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='hello_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
                ">
                <i title="Hello Message" class="fa fa-whatsapp btn btn-success btn-sm" aria-hidden="true"></i>
              </a>
              <a href="
                {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='order_detail_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
                ">
                <i title="Order Detail Message" class="fa fa-whatsapp btn btn-success btn-sm ml-1" aria-hidden="true"></i>
              </a>
              {% if o.date_paid == None %}
              <a href="
              {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='postpay_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
              ">
              <i title="Postpay Message" class="fa fa-whatsapp btn btn-success btn-sm ml-1" aria-hidden="true"></i>
            </a>
            {% else %}
            <a href="
            {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='prepay_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
            ">
            <i title="Prepay Message" class="fa fa-whatsapp btn btn-success btn-sm ml-1" aria-hidden="true"></i>
          </a>
          </div>
          {% endif %}
          {%endif%}
          {% endif %}
          {% if nav_active == "tbd-paid, tbd-unpaid"%}
          {% if o.manager and o.vendor_type %}
          <div class="mb-1" style="min-width: 120px;">
            <a href="
            {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='delivery_today_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
            ">
            <i title="Delivery Today Message" class="fa fa-whatsapp btn btn-success btn-sm" aria-hidden="true"></i>
          </a>
          <a href="
            {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='delivery_tomorrow_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
            ">
            <i title="Delivery Tomorrow Message" class="fa fa-whatsapp btn btn-success btn-sm ml-1" aria-hidden="true"></i>
          </a>
          </div>
            <div style="min-width: 120px;">
              <a href="
                {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='hello_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
                ">
                <i title="Hello Message" class="fa fa-whatsapp btn btn-success btn-sm" aria-hidden="true"></i>
              </a>
              <a href="
                {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='order_detail_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
                ">
                <i title="Order Detail Message" class="fa fa-whatsapp btn btn-success btn-sm ml-1" aria-hidden="true"></i>
              </a>
              {% if o.date_paid == None %}
              <a href="
              {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='postpay_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
              ">
              <i title="Postpay Message" class="fa fa-whatsapp btn btn-success btn-sm ml-1" aria-hidden="true"></i>
                </a>
                {% else %}
                <a href="
                {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='prepay_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
                ">
                <i title="Prepay Message" class="fa fa-whatsapp btn btn-success btn-sm ml-1" aria-hidden="true"></i>
              </a>
              {% endif %}
            </div>
              {%endif%}
          {% endif %}
          {% if nav_active == "delivered-unpaid"%}
          {% if o.manager and o.vendor_type %}
              <div style="min-width: 92px;">
               <a href="
                {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='feedback_msg', vendor_type=o.vendor_type,amount=o.total, manager=o.manager)}}
                ">
                <i title="Feedback Message" class="fa fa-whatsapp btn btn-success btn-sm" aria-hidden="true"></i>
              </a>
               <a href="
                {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='payment_remainder_msg', vendor_type=o.vendor_type, amount=o.total, manager=o.manager)}}
                ">
                <i title="Payment Reminder Message" class="fa fa-whatsapp btn btn-success btn-sm ml-1" aria-hidden="true"></i>
              </a>
              </div>
              {%endif%}
          {% endif %}
          {% if nav_active == "completed"%}
          {% if o.manager and o.vendor_type %}
              <a href="
                {{url_for('send_whatsapp', mobile_number=o.billing.phone, name=o.billing.first_name, status=nav_active, order_ids=query['order_ids'],order_id=o.id, noti='feedback_msg', vendor_type=o.vendor_type,amount=o.total, manager=o.manager)}}
                ">
                <i title="Feedback Message" class="fa fa-whatsapp btn btn-success btn-sm" aria-hidden="true"></i>
              </a>
              {%endif%}
          {% endif %}
          
          <p style="display: none;" id="c_msg_{{o.id}}">
            {{o.c_msg}}
          </p>
          <p style="display: none;" id="s_msg_{{o.id}}">
            {{o.s_msg}}
          </p>
          </div>
        </td>
        <td scope="row">{{ o.id}}</td>
        <td scope="row">{{ o.billing.first_name}} {{ o.billing.last_name}}</td>
        <td scope="row">{{ o.billing.phone}}</td>
        <td scope="row">{{ o.billing.city}}</td>
        <td scope="row">{{ o.status}}</td>
        {% if o.date_paid == None %}
            <td scope="row">Unpaid</td>
            {% else %}
            <td scope="row">Paid</td>
        {% endif %}
        <td scope="row">{{ o.payment_method}}</td>
        <td scope="row">{{ o.date_created}}</td>
        <td scope="row">{{ o.total}}</td>
        <td scope="row">{{ o.total_refunds}}</td>
        <td scope="row">{{ o.total-o.total_refunds}}</td>
        <td scope="row">
          {% for wt in o.wt_messages%}
            {% if wt.status == "success"%}
              <span class="text-success">{{wt.template_name}}, </span>
            {%else%}
              <span class="text-danger">{{wt.template_name}}, </span>
            {% endif%}
          {% endfor %}
        </td>
        <td scope="row">
          {{o.vendor}}
        </td>
        <td scope="row">
        {{o.manager}}
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  function copyToClipboard(id) {
   console.log(id);
   var tag = document.getElementById(""+id+"")
   var text = tag.innerHTML.trim()
   var input = document.body.appendChild(document.createElement("textarea"));
   input.value = text;
   input.select();
   var status = document.execCommand("copy");
   input.parentNode.removeChild(input);
 }
 $("html, body").animate({
        scrollTop: $(".{{query["message_sent"][0]}}").offset().top,
    });
 </script>
 
{% endblock %}
