{% extends "product_layout.html" %} {% block content %}
<!-- Starting Tabs On The Page  -->
<ul class="nav nav-tabs nav-bordered mb-3">
  <li class="nav-item">
    <a href="{{url_for('woocom_orders', status='failed')}}" class="nav-link {% if nav_active == 'failed' %} active {%endif%}">
      <i class="mdi mdi-home-variant d-md-none d-block"></i>
      <span class="d-none d-md-block">Failed</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="{{url_for('woocom_orders', status='processing')}}" class="nav-link {% if nav_active == 'processing' %} active {%endif%}">
      <i class="mdi mdi-home-variant d-md-none d-block"></i>
      <span class="d-none d-md-block">Processing</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="{{url_for('woocom_orders', status='tbd-paid, tbd-unpaid')}}" class="nav-link {% if nav_active == 'tbd-paid, tbd-unpaid' %} active {%endif%}">
      <i class="mdi mdi-home-variant d-md-none d-block"></i>
      <span class="d-none d-md-block">To Be Delivered</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="{{url_for('woocom_orders', status='delivered-unpaid')}}" class="nav-link {% if nav_active == 'delivered-unpaid' %} active {%endif%}">
      <i class="mdi mdi-home-variant d-md-none d-block"></i>
      <span class="d-none d-md-block">Delivered Unpaid</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="{{url_for('woocom_orders', status='completed')}}" class="nav-link {% if nav_active == 'completed' %} active {%endif%}">
      <i class="mdi mdi-home-variant d-md-none d-block"></i>
      <span class="d-none d-md-block">Delivered Paid</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'refunded' %} active {%endif%}" href="{{url_for('woocom_orders', status='refunded')}}">
        <i class="mdi mdi-home-variant d-md-none d-block"></i>
        <span class="d-none d-md-block">Refunded</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'cancelled' %} active {%endif%}" href="{{url_for('woocom_orders', status='cancelled')}}">
        <i class="mdi mdi-home-variant d-md-none d-block"></i>
        <span class="d-none d-md-block">Cancelled</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav_active == 'any' %} active {%endif%}" href="{{url_for('woocom_orders', status='any')}}">
        <i class="mdi mdi-home-variant d-md-none d-block"></i>
        <span class="d-none d-md-block">All</span>
    </a>
  </li>
</ul>
<!-- End Tabs On The Page -->

<!-- Starting Filters -->
<div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right d-flex">
          <form autocomplete="off" class="form-inline">
              <!-- Hidden Inputs -->
                <input style="display: none;" name="page" value="{{c_page}}">
                <input style="display: none;" name="status" value="{{nav_active}}">
                <!-- End Hidden Inputs -->

              <div class="input-group">
                  <div style="max-width: 200px; max-height: 50px; overflow-y: scroll; min-width: 100px;">
                        <select class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Select IDs" name="order_ids">
                            {% for o in orders %}
                                <option {% if "order_ids" in query %} {% if o.id in query["order_ids"] %} selected {% endif %} {% endif %}>{{o.id}}</option>
                            {% endfor%}
                        </select>
                    </div>
                    <div class="ml-1" style="width: 200px;">
                    <select class="form-control select2" name="payment_status" data-toggle="select2">
                        <option value="">Payment Status</option>
                        <option {% if "payment_status" in query %} {% if query.payment_status[0] == "paid" %} selected {% endif %} {% endif %} value="paid">Paid</option>
                        <option {% if "payment_status" in query %} {% if query.payment_status[0] == "unpaid" %} selected {% endif %} {% endif %} value="unpaid">Unpaid</option>
                      </select>
                    </div>
                    <input class="form-control ml-1" style="width: 50px;" type="phone" placeholder="Phone Number" {% if "phone_number" in query %} {% if query["phone_number"][0] != "" %} value="{{query["phone_number"][0]}}" {% endif %} {% endif %} name="phone_number">
                    <input class="form-control ml-1" type="name" placeholder="Name" {% if "name" in query %} {% if query["name"][0] != "" %} value="{{query["name"][0]}}" {% endif %} {% endif %} name="name">
                    <div class="ml-1" style="max-width: 200px; max-height: 50px; overflow-y: scroll; min-width: 100px;">
                        <select class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Select Vendor" name="vendor">
                            {% for v in vendors %}
                                {% if v != ""%}
                                    <option {% if "vendor" in query %} {% if v in query["vendor"] %} selected {% endif %} {% endif %}>{{v}}</option>
                                {% else %}
                                    <option {% if "vendor" in query %} {% if v in query["vendor"] %} selected {% endif %} {% endif %} value="">Null</option>
                                {%endif%}
                            {% endfor%}
                        </select>
                    </div>
                    <div class="ml-1" style="max-width: 200px; max-height: 50px; overflow-y: scroll; min-width: 100px;">
                        <select class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Select Manager" name="manager">
                            {% for m in managers %}
                                {% if m != ""%}
                                    <option {% if "manager" in query %} {% if m in query["manager"] %} selected {% endif %} {% endif %}>{{m}}</option>
                                {%endif%}
                            {% endfor%}
                        </select>
                    </div>
                    <input placeholder="Created VIA" type="text" name="created_via" class="form-control ml-1" {% if "created_via" in query %} {% if query["created_via"][0] != "" %} value="{{query["created_via"][0]}}" {% endif %} {% endif %}>
                    <input placeholder="Delivery Date" name="delivery_date" type="text" class="form-control ml-1" data-provide="datepicker" data-date-format="MM/d/yyyy" data-date-autoclose="true" {% if "delivery_date" in query %} {% if query["delivery_date"][0] != "" %} value="{{query["delivery_date"][0]}}" {% endif %} {% endif %}>
                </div>
              <button class="btn btn-primary ml-1">
                <i class="mdi mdi-filter-variant"></i>
              </button>
          </form>
        </div>
        <h4 class="page-title">Orders</h4>
      </div>
    </div>
  </div>
  <!-- End Of Filters -->

{%endblock%}
